<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "{{site.data.settings.site.city}}",
      "addressRegion": "{{site.data.settings.site.state}}",
      "postalCode": "{{site.data.settings.site.zip}}",
      "streetAddress": "{{site.data.settings.site.street}}"
    },
    "name": "{{site.data.settings.site.title}}",
    "description": "{{ site.data.settings.site.description }}",
    "image": "{{ site.data.settings.site.business_image }}",
    "openingHours": [
      {%- for item in site.data.settings.site.hours -%}
        {%- if item.times -%}
          "{{item | opening_hours }}"
          {%- unless forloop.last == true -%}
            ,
          {%- endunless -%}
        {%- endif -%}
      {%- endfor -%}
    ],
    "priceRange": "$",
    "telephone": "{{ site.data.settings.site.phone }}",
    "url": "{{ site.url }}"
  }
</script>