<footer class="siteFooter" {% if site.data.settings.site.footer_image %} style="background-image: url({{ site.data.settings.site.footer_image }})" {% endif %}>
  {% unless page.layout == 'contact' %}
  {% include contact.html %}
  {% include address.html %}
  {% endunless %}
  <div class="copyright">&copy; {{ 'now' | date: "%Y" }} {{ site.data.settings.site.title }}</div>
  <div class="linkback"><a href="https://www.alwaysblank.org" target="_blank" rel="noopener noreferrer">Built by Ben</a></div>
</footer>