<div class="hoursWrap">
  <h4>Clinic Hours</h4>

  <ul class="hours">
    {% for item in site.data.settings.site.hours %}
      <li>
        <span class="day">{{ item.day }}</span>
        <span class="spacer"></span>
        <span class="time">
          {% if item.note %}
            <span class="note">{{ item.note }}</span>
          {% endif %}
          {% if item.times %}
            {% for time in item.times %}
              {{ time.open | am_pm }} - {{ time.close | am_pm }}
            {% endfor %}
          {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>
</div>