.physicalAddress {
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;

  a::before {
    content: "📍";
    position: absolute;
    left: -1.25rem;
    top: 0;
  }

  a {
    border-bottom: 0;

    span {
      border-bottom: 1px solid $blue;
    }
  }

  .street {
    display: block;
  }
}