.physicalAddress {
  display: inline-block;
  margin-bottom: 1rem;  

  a {
    position: relative;
    border-bottom: 0;
    display: inline-block;

    &::before {
      content: "📍";
      position: absolute;
      left: -1.5rem;
      top: 0;
    }
  }

  .street {
    display: block;
  }
}