.siteBody.home {
  .siteHeader {
    min-height: 60vh;
  }

  .siteMain {
    width: 1024px;
    max-width: 100%;
    
    @media (min-width: $body-width) {
      display: flex;
      align-items: flex-start;
    }
  }
  
  .homeLogo {
    width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
    
    @media (min-width: $body-width) {
      width: 200px;
      margin-right: 2rem;
      margin-top: 2rem;
    }
  }
}

h3.payMessage {
  border-bottom: 0;
  text-align: center;
  margin: 2rem auto;
}