.siteBody.home {
  .siteHeader {
    min-height: 60vh;
  }

  .siteMain {
    width: 1024px;
    display: flex;
    align-items: flex-start;
  }

  .homeLogo {
    width: 200px;
    height: auto;
    margin-right: 2rem;
    margin-top: 2rem;
  }
}

h3.payMessage {
  border-bottom: 0;
  text-align: center;
  margin: 2rem auto;
}