.hours {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;

  @media (min-width: 420px) {
    width: 300px;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .day,
  .time {
    flex: 0 0 auto;
    font-weight: bold;
  }

  .spacer {
    flex: 1 1 auto;
    min-width: 1rem;
    margin: auto 0.5rem;
    height: 1px;
    background-color: black;
    opacity: 0.25;
  }
}