.scheduleAppointment {
  margin: 2rem auto;
  text-align: center;

  a {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 900;
    background-color: rgba($blue, 0.5);
    border-radius: 0.5rem;
    border: 3px solid darken($blue, 10%);
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    padding-left: 4rem;
    padding-right: 1rem;
    overflow: hidden;
    transition: background-color 0.25s;

    &::before,
    &::after {
      position: absolute;
      left: 1rem;
      top: 0.5rem;
      transition: transform 0.25s;
    }

    &::before {
      content: "📅";
      transform: translateY(0);
    }
    
    &::after {
      content: "👍";
      transform: translateY(120%);
    }

    &:hover {
      color: black;
      background-color: rgba($blue, 0.25);

      &::before {
        transform: translateY(-120%);
      }

      &::after {
        transform: translateY(0);
      }
    }
  }
}