.siteFooter {
  padding: 2.5rem;
  font-size: 0.8em;
  border-top: 0.5rem solid $blue;
  background-size: cover;
  background-position: center;
  position: relative;

  .copyright {
    text-align: center;
    font-style: italic;
    margin-top: 2rem;
  }
  
  .linkback {
    text-align: center;
  }

  & > * {
    position: relative;
    z-index: 5;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: white;
    opacity: 0.4;
  }

  @media (min-width: $body-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
  }
}
