.siteMain {
  display: block;
  width: $body-width;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;

  h1, h2, h3, h4, h5 {
    border-bottom: 2px solid $blue;
    margin-top: 1em;
    padding-bottom: 0.25rem;
  }

  & > p {
    width: 640px;
    max-width: 100%;
  }
}