.siteNav.siteNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.5s;

  &.headerOut {
    background-color: $blue;
  }

  @media (min-width: $body-width) {
    padding-top: 0;
    padding-bottom: 0.25rem;
  }
}

.siteNav__toggle {
  background-color: $blue;
  border: 3px solid white;
  transition: background-color 0.2s;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 20;

  .headerOut & {
    background-color: white;
  }

  @media (min-width: $body-width) {
    display: none;
  }
}

.siteNav__list {
  list-style: none;
  padding: 1rem;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.25s;
  transform: translateY(0);

  &[hidden] {
    display: flex;
    transform: translateY(-100%);
  }

  @media (min-width: $body-width) {
    transform: translateY(0) !important;
    height: auto;
    background-color: transparent;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    padding: 0 1rem;
    position: relative;
  }
}

.siteNav__page {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem auto;
  font-weight: bold;
  letter-spacing: 0.01em;
  font-size: 1.5rem;

  &.active a {
    border-bottom-color: white;
  }

  a {
    transition: border $normal-speed;
    border-bottom: 0.25rem solid transparent;
    padding-bottom: 0.25rem;

    &:hover,
    &:active {
      border-bottom-color: white;
      color: black;
    }
  }

  @media (min-width: $body-width) {
    font-size: 1rem;
    margin: 0.5rem;
  }
}

body[data-menu-open="true"] {
  overflow: hidden;
}